footer
  .container
    ul
        li
          Github
        li
          Fork
    p
      | Designed and built with all the love in the world by
      a(href='https://twitter.com/mdo', target='_blank') @mdo
      |  and
      a(href='https://twitter.com/fat', target='_blank') @fat
      | .
    p
      | Maintained by the
      a(href='https://github.com/orgs/twbs/people') core team
      |  with the help of
      a(href='https://github.com/twbs/bootstrap/graphs/contributors') our contributors
      | .
    p
      | Code licensed under
      a(rel='license', href='https://github.com/twbs/bootstrap/blob/master/LICENSE', target='_blank') MIT
      | , documentation under
      a(rel='license', href='https://creativecommons.org/licenses/by/3.0/', target='_blank') CC BY 3.0
      | .
    ul.text-muted
      li
        a(href='https://github.com/twbs/bootstrap') GitHub
      li ·
      li
        a(href='../about/') About
      li ·
      li
        a(href='http://blog.getbootstrap.com') Blog
